:root {
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-gutter: stable;
  scrollbar-width: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  -ms-overflow-style: none;
}

a {
  color: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}
